.years {
  padding-block: 50px;
  background-color: #FEFEF2;
}

.years h1 {
  font-size: 90px;
  font-family: 'Gloock', sans-serif;
  font-weight: 400;
  width: 91%;
  text-align: center;
  margin-left: 5%;
  margin-top: 100px;
  color: #304941;
}

.logo {
  text-align: center;
  margin-top: 80px;
}

.last {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-top: 200px;
}

@media (width <=1210px) {
  .years h1 {
    font-size: 77px;
    margin-top: 90px;
  }
}

@media (width <=1050px) {
  .years h1 {
    font-size: 70px;
  }

  .last {
    font-size: 13px;
  }
}

@media (width <=950px) {
  .years h1 {
    font-size: 62px;
  }
}

@media (width <=850px) {
  .years h1 {
    font-size: 50px;
  }

  .last {
    margin-top: 100px;
  }
}

@media (width <=650px) {
  .years h1 {
    font-size: 33px;
  }

  .last {
    display: none;
  }
}