.years {
  padding-block: 50px;
  background-color: #FEFEF2;
  padding-inline: 5%;
}

.years h2 {
  text-align: center;
  margin-top: 200px;
  color: #304941;
  width: 90%;
  margin-left: 5%;
}

.logo {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
}

@media (width <=1536px) {
  .years {
    padding-block: 30px;
  }

  .years h2 {
    margin-top: 90px;
  }

  .logo {
    margin-top: 50px;
    margin-bottom: 90px;
  }
}

@media (width <=1280px) {
  .years h2 {
    margin-top: 70px;
    width: 100%;
    margin-left: 0;
  }

  .logo {
    margin-top: 40px;
    margin-bottom: 70px;
  }
}

@media (width <=1024px) {
  .years h2 {
    margin-top: 60px;
  }

  .logo {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (width <=768px) {
  .years h2 {
    text-align: left;
  }

  .logo {
    margin-bottom: 30px;
  }

  .years {
    padding-top: 100px;
  }
}