.main {
  background-color: #2A2523;
  scrollbar-width: none;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  padding-top: 50px;
}

.upper span {
  color: #ffffff;
}

.upper {
  padding-inline: 5%;
  position: sticky;
  top: 0%;
}

.upper h2 {
  color: #8FDEAA;
  margin-block: 50px;
  width: 46%;
}

.info {
  display: flex;
  font-size: 16px;
  gap: 200px;
}

.info p {
  width: 80%;
  color: #F6F5EC;
  line-height: 25.6px;
  font-weight: 400;
}


.card1 {
  margin-top: 100px;
  position: sticky;
  top: 50%;
  margin-left: -4%;
  min-width: 90%;
}

.card2 {
  position: sticky;
  top: 50%;
  margin-left: 4.1%;
  min-width: 90%;
}

.card3 {
  position: sticky;
  top: 50%;
  margin-left: 11.8%;
  min-width: 90%;
}

.card4 {
  position: sticky;
  top: 50%;
  margin-left: 18.65%;
  min-width: 90%;
}

.card5 {
  position: sticky;
  top: 50%;
  margin-left: 25.1%;
  min-width: 90%;
}

.card6 {
  position: sticky;
  top: 50%;
  margin-left: 31.6%;
  min-width: 90%;
}

.sliding {
  display: none;
}

@media (width <=1536px) {
  .main {
    height: 100vh;
    padding-top: 40px;
  }

  .upper h2 {
    margin-block: 40px;
  }

  .card1 {
    top: 65%;
  }

  .card2 {
    top: 65%;
  }

  .card3 {
    top: 65%;
  }

  .card4 {
    top: 65%;
  }

  .card5 {
    top: 65%;
  }

  .card6 {
    top: 65%;
  }

}

@media (width <=1280px) {
  .main {
    padding-top: 40px;
  }

  .upper h2 {
    margin-top: 90px;
    margin-bottom: 40px;
  }

  .info {
    margin-bottom: 100px;
  }

  .info p {
    width: 100%;
    line-height: 20px;
  }
}


@media (width <=1024px) {

  .info {
    margin-bottom: 100px;
  }

  .info {
    gap: 150px;
  }

  .info p {
    width: 100%;
    font-size: 11px;
  }
}

@media (width <=900px) {
  .scrolling {
    display: none;
  }

  .main {
    height: auto;
  }

  .sliding {
    display: block;
    margin-top: -100px;
  }

  .mid {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-bottom: 30px;
    margin-left: 5%;
  }
}

@media (width <=768px) {

  .info {
    flex-direction: column;
    gap: 20px;
  }

  .sliding {
    margin-top: -180px;
  }
}