.main {
  padding-top: 50px;
  background-color: #2A2523;
}

.main span {
  color: #ffffff;
}

.main h2 {
  color: #8FDEAA;
  margin-block: 50px;
  width: 46%;
}

.info {
  display: flex;
  font-size: 16px;
  gap: 200px;
  margin-bottom: 150px;
}

.info p {
  width: 80%;
  color: #F6F5EC;
  line-height: 25.6px;
  font-weight: 400;
}

.upper {
  padding-inline: 5%;
}

.mid {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  max-height: 500px;
}

.mid :nth-child(1) {
  position: sticky;
  top: -2%;
  left: .5%;
}

.mid :nth-child(2) {
  position: sticky;
  top: -2%;
  left: 7%;
}

.mid :nth-child(3) {
  position: sticky;
  top: -2%;
  left: 13%;
}

.mid :nth-child(4) {
  position: sticky;
  top: -2%;
  left: 21%;
  width: 79%;
}

.mid :nth-child(5) {
  position: sticky;
  top: -2%;
  left: 29%;
  width: 71%;
}

.mid :nth-child(6) {
  position: sticky;
  top: -2%;
  left: 36%;
  width: 64%;
}

.mid2 {
  display: none;
}

.lower {
  position: relative;
  min-height: 1083px;
  overflow: hidden;
  margin-bottom: -10px;
}

.lower img {
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 5%;
  width: 90%;
}

.btn h2 {
  font-size: 100px;
  line-height: 100px;
  font-family: "Gloock", sans-serif;
  font-weight: 400;
  color: #F6F5EC;
  width: 90%;
}

.arrow {
  max-width: 10%;
  margin-bottom: 20px;
}

@media (width <=1536px) {
  .main {
    padding-top: 40px;
  }

  .info {
    margin-bottom: 100px;
  }

  .lower {
    min-height: auto;
  }

  .lower h2 {
    font-size: 80px;
  }

  .mid {
    height: 440px;
  }
}

@media (width <=1280px) {
  .main {
    padding-top: 40px;
  }

  .info {
    margin-bottom: 100px;
  }

  .lower img {
    max-height: 730px;
  }

  .lower h2 {
    font-size: 68px;
  }

  .info p {
    width: 100%;
  }

  .mid {
    height: 390px;
  }

  .btn {
    top: 60%;
  }

  .arrow {
    margin-bottom: 10px;
  }
}


@media (width <=1024px) {
  .main {
    padding-top: 40px;
  }

  .info {
    margin-bottom: 100px;
  }

  .info {
    gap: 150px;
  }

  .info p {
    width: 100%;
    font-size: 16px;
  }

  .lower h2 {
    font-size: 54px;
  }
}

@media (width <=768px) {
  .info {
    flex-direction: column;
    gap: 20px;
  }

  .lower img {
    max-height: 650px;
  }

  .lower {
    margin-top: 50px;
  }

  .lower h2 {
    font-size: 46px;
  }

  .mid {
    display: none;
  }

  .mid2 {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
  }
}

@media (width <=640px) {
  .lower img {
    max-height: 650px;
  }

  .lower h3 {
    font-size: 28px;
  }

  .btn {
    top: 30%;
  }
}