.featured {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.featuredImg {
  display: flex;
  gap: 7%;
}

.featuredImg img {
  width: 22%;
}

.featuredDiv {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bottom {
  padding-bottom: 10px;
}

.featuredText {
  display: flex;
  justify-content: center;
}

.featured button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
  height: 30px;
  width: 150px;
}

.arrow {
  transition: .5s all;
  font-size: 16px;
}


.featured button:hover {
  .arrow {
    margin-left: 10px;
  }
}

@media (width <=1536px) {
  .featured {
    font-size: 13px;
  }

  .featured button {
    font-size: 13px;
    width: 110px;
  }

  .featuredDiv {
    gap: 20px;
  }

}

@media (width <=1280px) {
  .featured {
    font-size: 11px;
  }

  .featuredDiv {
    gap: 15px;
  }

  .featured button {
    font-size: 12px;
    width: 95px;
  }

  .arrow {
    font-size: 14px;
  }
}

@media (width <=1024px) {
  .featured {
    font-size: 9px;
  }

  .featured button {
    font-size: 9px;
    width: 80px;
  }

  .featuredDiv {
    gap: 10px
  }
}

@media (width <=900px) {
  .featured :nth-child(2) div {
    display: none;
  }

  .featured {
    font-size: 16px;
  }

  .featuredDiv {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .featuredImg img {
    width: 20%;
  }

  .featured button {
    font-size: 16px;
    width: 125px;
  }

  .featuredText {
    align-items: center !important;
  }

  .bottom {
    padding: 0;
  }

  .arrow {
    font-size: 12px;
  }
}

@media (width <=495px) {
  .featured {
    font-size: 12px;
  }

  .featuredDiv {
    gap: 15px;
  }

  .featured button {
    font-size: 12px;
    width: 100px;
  }

  .arrow {
    font-size: 10px;
  }
}