.main {
  width: 80%;
  background-color: #2a2523c3;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2A2523;
  min-width: 90%;
}

.left {
  width: 50%;
}

.right {
  width: 45%;
  min-height: 500px;
}

.right img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.outerline {
  background-color: #8FDEAA;
  height: 1.5px;
}

.innerline {
  background-color: #8FDEAA;
  height: 2px;
  width: 20%;
}

.heading {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2%;
}

.info p {
  width: 68%;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.info {
  display: flex;
  justify-content: space-between;
}


.heading h3 {
  font-size: 30px;
  width: 20%;
  color: #8FDEAA;
  font-weight: 400;
}

.info span {
  color: #8FDEAA;
  font-weight: 300;
  font-size: 13px;
}

@media (width <=1536px) {
  .info p {
    font-size: 16px;
    line-height: 24px;
  }

  .heading h3 {
    font-size: 25px;
  }
}

@media (width <=1280px) {
  .info p {
    font-size: 13px;
    line-height: 21px;
  }

  .heading h3 {
    font-size: 22px;
  }

  .info span {
    font-size: 12px;
  }
}

@media (width <=1024px) {
  .info p {
    font-size: 11px;
    line-height: 19px;
  }

  .heading h3 {
    font-size: 20px;
  }

  .info span {
    font-size: 9px;
  }
}