.card {
  height: 647px;
  min-width: 50%;
  padding-block: 10px;
  background-color: #2A2523;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  font-size: 30px;
  color: #8FDEAA;
}

.card span {
  color: #8FDEAA;
}

.outerline {
  background-color: #8FDEAA;
  height: 1.5px;
  margin-bottom: 20px;
}

.innerline {
  background-color: #8FDEAA;
  height: 3px;
  width: 40%;
}

.head {
  padding-left: 2%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.card p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  margin-top: 30px;
  padding-left: 2%;
  width: 90%;
}

.card img {
  width: 90%;
  height: 60%;
  border-radius: 1rem;
  margin-left: 2%;
}

@media (width <=768px) {
  .card {
    min-width: 65%;
  }
}

@media (width <=640px) {
  .card {
    min-width: 90%;
  }
}

@media (width <=535px) {
  .head {
    gap: 40px;
  }

  .card p {
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .card img {
    max-height: 70%;
  }
}

@media (width <=400px) {
  .card {
    padding-block: 5px;
  }

  .card h3 {
    font-size: 26px;
  }

  .head {
    gap: 30px;
  }

  .card p {
    margin-block: 15px;
    font-size: 11px;
  }
}