.home {
  width: 100%;
  background-image: url('../../assets/images/home-img.png');
  background-size: cover;
  color: #ffffff;
  position: relative;
  padding-inline: 5%;
  padding-bottom: 70px;
}

.change {
  margin-top: 350px;
}

.change h3 {
  font-size: 88px;
  font-family: "Gloock", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.change h1 {
  font-size: 143px;
  max-height: 143px;
  overflow: hidden;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.change span {
  font-family: "Gloock", sans-serif;
  animation: 5s scroll;
  animation-iteration-count: infinite;
  animation-play-state: running;
  color: #ffffff;
}

.lower {
  margin-top: 200px;
}

.lower p {
  color: #ffffff;
}

.lower button {
  color: #ffffff;
}


@keyframes scroll {
  0% {
    transform: translateY(0%);
  }

  10% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
  }

  60% {
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(-200%);
  }
}

@media (width <=1536px) {
  .home {
    padding-bottom: 40px;
  }

  .change {
    margin-top: 220px;
  }

  .change h1 {
    font-size: 115px;
    height: 115px;
  }

  .change h3 {
    font-size: 70px;
  }

  .lower {
    margin-top: 190px;
  }
}

@media (width <=1280px) {
  .home {
    padding-bottom: 30px;
  }

  .change {
    margin-top: 175px;
  }

  .change h3 {
    font-size: 58px;
  }

  .change h1 {
    font-size: 96px;
    height: 96px;
  }

  .lower {
    margin-top: 155px;
  }
}

@media (width <=1024px) {

  .change {
    margin-top: 150px;
  }

  .change h3 {
    font-size: 46px;
  }

  .change h1 {
    font-size: 78px;
    height: 78px;
  }

  .lower {
    margin-top: 150px;
  }
}

@media (width <=768px) {
  .change h3 {
    font-size: 38px;
  }

  .change h1 {
    font-size: 60px;
    height: 60px;
  }

  .change {
    margin-top: 200px;
  }

  .lower {
    margin-top: 200px;
  }
}

@media (width <=650px) {
  .home {
    padding-bottom: 100px;
  }

  .change {
    margin-top: 250px;
  }

  .change h3 {
    font-size: 30px;
    text-align: center;
  }

  .change h1 {
    font-size: 42px;
    height: 42px;
    text-align: center;
  }
}

@media (width <=495px) {
  .change h2 {
    font-size: 28px;
  }
}