.workbench {
  background-color: #F4F4F4;
  padding-block: 100px;
  position: relative;
  padding-inline: 5%;
}

.workbench h2 {
  text-align: center;
  margin-top: 100px;
}

.moto {
  text-align: center;
  margin-top: 30px;
  width: 70%;
  margin-left: 15%;
}

.main {
  margin-top: 100px;
  display: flex;
}

.arrow {
  transition: .5s all;
}

.workbench button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 168px;
}

.workbench button:hover {
  .arrow {
    margin-left: 10px;
    ;
  }
}

.left {
  width: 50%;
}

.left img {
  width: 100%;
  height: 100%;
}

.right {
  width: 50%;
  background-color: #ffffff;
  padding-inline: 80px;
  padding-block: 100px;
}

.right img {
  width: 80%;
  margin-block: 50px;
}

.para {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.para p {
  width: 45%;
}

.para :nth-child(1) {
  font-weight: 500;
}

.size {
  display: flex;
  gap: 100px;
}

.size p {
  font-weight: 500;
}

.lower {
  display: flex;
  justify-content: space-between;
  margin-block: 40px;
}

.colors {
  display: flex;
}

.colors div {
  height: 18px;
  width: 70px;
}

.workbench span {
  text-decoration: underline;
  cursor: pointer;
}

.workshop {
  display: none;
}

.updiv {
  display: none;
  margin-top: 30px;
}

.imagediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #ffffff;
  margin-top: 10px;
}

.imagediv img {
  height: 100%;
}

@media (width <=1536px) {
  .workbench {
    padding-block: 100px;
  }

  .workbench h2 {
    margin-top: 50px;
  }

  .main {
    margin-top: 85px;
  }

  .right {
    padding-block: 50px;
    padding-inline: 60px;
  }

  .para :nth-child(2) {
    min-width: 58%;
  }
}

@media (width <=1280px) {
  .workbench {
    padding-block: 90px;
  }

  .workbench h2 {
    margin-top: 40px;
  }

  .moto {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
  }

  .main {
    margin-top: 65px;
  }

  .right {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-inline: 50px;
  }

  .right img {
    margin-block: 30px;
  }

  .lower {
    font-size: 11px;
  }

  .colors div {
    height: 13px;
  }
}

@media (width <=1024px) {
  .workbench {
    padding-block: 65px;
  }

  .workbench h2 {
    margin-top: 40px;
  }

  .lower {
    margin-block: 30px;
  }

  .right {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
  }

  .moto {
    margin-top: 10px;
  }

  .right img {
    margin-block: 20px;
  }

  .para {
    margin-top: 40px;
  }

  .size {
    gap: 70px;
  }

  .colors div {
    height: 10px;
  }
}

@media (width <=768px) {
  .workshop {
    display: block;
  }

  .workbench {
    padding-bottom: 0;
    padding-inline: 0;
  }

  .workbench h2 {
    text-align: left;
    margin-left: 5%;
  }

  .moto {
    text-align: left;
    margin-left: 5%;
  }

  .main {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .workbench span {
    display: block;
    margin-left: 5%;
    font-size: 20px;
  }

  .work {
    display: none;
  }

  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .lower {
    display: none;
  }

  .updiv {
    display: block;
  }

  .imagediv button {
    margin-right: 5%;
    font-size: 16px;
    width: 200px;
  }
}

@media (width <=680px) {
  .imagediv {
    height: 100px;
  }
}