.intro {
  padding-inline: 5%;
  padding-block: 100px;
  background-color: #FEFEF2;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 150px;
}

.main h2 {
  width: 70%;
}

.left {
  width: 45%;
}

.right {
  width: 50%;
}

.paraBig {
  margin-top: 20px;
  margin-bottom: 120px;
}

.paraSmall {
  font-size: 20px;
  color: #2A2523;
}

.right img {
  width: 100%;
  min-height: 687px;
}

.right p {
  display: none;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

@media (width <=1536px) {
  .intro {
    padding-block: 55px;
  }

  .main {
    margin-bottom: 50px;
    margin-top: 70px;
  }

  .paraBig {
    margin-top: 15px;
    margin-bottom: 68px;
  }

  .paraSmall {
    font-size: 15px;
  }

  .right img {
    height: 540px;
  }

}

@media (width <=1280px) {

  .main {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .main h2 {
    width: 90%;
  }

  .paraBig {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .paraSmall {
    font-size: 12px;
  }

  .right img {
    height: 530px;
  }
}

@media (width <=1024px) {
  .main {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .main h2 {
    width: 90%;
  }

  .paraBig {
    margin-bottom: 40px;
  }

  .paraSmall {
    font-size: 12px;
  }

  .right img {
    height: 450px;
  }
}

@media (width <=768px) {

  .intro {
    padding-block: 50px;
  }

  .main {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .paraBig {
    margin-bottom: 20px;
  }

  .paraSmall {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .right img {
    height: auto;
  }

  .right p {
    display: block;
  }
}

@media (width <=640px) {
  .intro {
    padding-block: 35px;
  }

  .right img {
    height: 300px;
  }
}

@media (width <=475px) {
  .intro {
    padding-block: 20px;
  }
}