.designs {
  height: 1083px;
  display: flex;
  width: 100%;
}

.left {
  width: 80%;
  height: 100%;
}

.left img {
  width: 100%;
  height: 100%;
}

.right {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right img {
  width: 100%;
  height: 100%;
}

@media (width <=850px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }

  .right img {
    min-height: 200px;
  }
}

@media (width <=560px) {
  .designs {
    height: 750px;
  }
}